# PostgreSQL
POSTGRES_USER=cam_user
POSTGRES_PASSWORD=change_me
POSTGRES_DB=cam_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Backend
BACKEND_PORT=8000

# Камера (эмулятор)
RTSP_URL=rtsp://mediamtx:8554/cam1
CAPTURE_INTERVAL=5
